
body {
	background-image: url("../images/background.JPG");
	background-size: 100%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
}
.harley {
	font-family: 'Rock Salt', cursive;
	font-size: 32px;
	padding-top: 1%;
	text-shadow: 4px 4px 4px #fff;

	
}
.jumbotron {
	background: rgba(0, 0, 0, .5);
	color: white;
}

button {
	background: white;
	color: black;
	border-radius: 0;
	padding: 15px;
}

.container {
	padding-top: 5vh;
}

.one {
	font-size: 42px;
	padding-bottom: 32px;
	font-family: 'Space Mono', Helvetica, sans-serif;
}

.answer {
	font-size: 30px;
	padding-bottom: 15px;
	font-family: 'Droid Sans Mono', Helvetica, sans-serif;


}

.logo {
	height: 175px;
}
.logoOne {
	margin-top: 0;
	padding-top: 0;
}

.two {
	font-size: 30px;
}

p {
	padding-top: 15px;
	font-family: 'Droid Sans Mono', Helvetica, sans-serif;

}